body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar .fas {
    margin-right: 5px;
    font-size: 20px;
}
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #444;
margin: 0;
padding: 0;
}

.navbar {
background-color: #007bff;
padding: 10px 20px;
color: #fff;
}

.navbar-brand {
font-size: 24px;
margin-right: auto;
color: #fff;
text-decoration: none;
}

.navbar-brand:hover {
color: #fff;
text-decoration: none;
}

.navbar a.navbar-link {
color: #fff;
text-decoration: none;
margin-right: 20px;
font-weight: bold;
}

.navbar a.navbar-link:hover {
color: #f8f9fa;
text-decoration: none;
}

.navbar .bi {
margin-right: 5px;
font-size: 20px;
}    .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.vehicle-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.vehicle-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.vehicle-info {
    margin-bottom: 5px;
}

.rent-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.rent-button:hover {
    background-color: #0056b3;
}
