*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 80px auto 20px auto; 
    padding: 20px;
}


nav {
    background-color: #0056b3; 
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
}

.navbar-left .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-search {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-search input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: none;
}

.navbar-profile a {
    /* display: flex; */
    /* align-items: center; */
    color: #fff;
    margin: 0 10px;

}

.btn-primary
{
    margin: 20px 10px;
}
.navbar-profile button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
}


.sidebar {
    background-color: #0056b3;
    color: #fff;
    padding: 20px;
    height: calc(100vh - 80px); 
    width: 250px;
    position: fixed;
    top: 80px; 
    left: -250px;
    transition: left 0.3s ease;
    z-index: 9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added box shadow */
}

.sidebar.active {
    left: 0;
}

.sidebar .sidebar-link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.sidebar .sidebar-link i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.sidebar .sidebar-link:hover {
    opacity: 0.8;
}


footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10;
}



footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}


.service-container {
    display: flex;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added box shadow */
    padding: 20px;
}

.service-details {
    flex: 1;
    padding-right: 20px;
}

.service {
    flex: 1;
    display: flex;
    justify-content: space-between; /* Adjusted alignment */
    align-items: center;
}

.service-buttons {
    display: flex;
    justify-content: flex-end;
}

.service-buttons button {
    margin-left: 10px;
}

.service-carousel {
    width: 300px;
    margin-left: auto;
}


.carousel-item img {
    height: 300px; 
    object-fit: cover;
}

